#playercontrols {
  padding-top: 30px;
  padding-left: 20px;
  width: 600px;
  height: 150px;
  background-color: rgb(73, 73, 73);
}

#health {
  background-color: rgb(73, 73, 73);
  color: rgb(182, 182, 182);
  font-size: 34px;
  font-weight: bold;
  height: 60px;
  line-height: 37px;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 60px;
}

.action-btn {
  width: 100px;
  height: 40px;
  background-color: rgb(210, 40, 176);
}

.action-group {
  margin: 40px 0 0 30px;
}

.dir-btn {
  width: 60px;
  height: 40px;
}
