.player {
  position: relative;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid;
  height: 0;
  width: 0;
}

.player1 {
  color: rgb(199, 223, 78);
}

.enemy {
  color: rgb(195, 39, 151);
}
