@keyframes boom {
  0% {
    opacity: 0;
    // transform: translate3d(0,0,0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    // transform: translate3d(0,-30px,0);
  }
}
.explosion-enter {
  background-color: red;
  height: 20px;
  position: absolute;
  width: 20px;
}
// .explosion-enter.explosion-enter-active {}
// .explosion-leave.explosion-leave-active {}
.explosion-leave {
  opacity: 0;
}
